.label-marker {
  width: auto;
  background-color: #c25805;
  padding: 4px 10px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  border-radius: 2px;
}

.label-marker:hover {
  background-color: #fa6400;
  color: #fff;
}

.tab--default {
  background-color: #232B39;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tab--active {
  background-color: #fa6400;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
