.label-marker {
  width: auto;
  background-color: #c25805;
  padding: 4px 10px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  border-radius: 2px;
}

.label-marker:after{
  display:block;
  content:'';
  border-width:8px 8px 8px 8px;
  border-style:solid;
  border-color:transparent #c25805 transparent transparent;

  /* 定位 */
  position:absolute;
  left: 57px;
  top: 50%;
  transform: translateY(-50%);
}

.label-marker:hover:after {
  border-color:transparent #fa6400 transparent transparent;
}

.label-marker:hover {
  background-color: #fa6400;
  color: #fff;
}

.tab--default {
  background-color: #232B39;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tab--active {
  background-color: #fa6400;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*下拉选择器*/
.ivu-select-visible .ivu-select-selection {
  border: none;
  box-shadow: none;
}

.ivu-select-selection {
  background-color: #232B39;
  border: none;
  cursor: text;
}

.ivu-select-single .ivu-select-selection {
  height: inherit;
}

.ivu-select-input {
  font-size: 18px;
  color: #fff;
  padding: 0 24px 0 12px;
  cursor: text;
}

.ivu-select-input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, .4)
}

.ivu-icon-ios-search:before {
  color: rgba(255, 255, 255, .4)
}

.ivu-select-arrow {
  font-size: 20px;
  right: 12px;
}

.ivu-select-head-flex {
  height: inherit;
}

.ivu-select-dropdown {
  top: 46px!important;
  background-color: #232B39;
  max-height: 970px;
}

.ivu-select-item {
  height: 80px;
}

.ivu-select-item-selected, .ivu-select-item-selected:hover {
  color: #fa6400;
}

.ivu-select-item-focus {
  background: rgba(255, 255, 255, .05);
}

.ivu-select-item:hover {
  background: rgba(255, 255, 255, .05);
}

.company-name {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 4px;
}

.index-column {
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  padding: 16px 12px 12px 0;
}

.name-address-box:hover > .company-name {
  color: #fa6400;
}

.company-address {
  color: rgba(255, 255, 255, .5);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.company-address-icon {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(153, 153, 153, 0.4);
  border-radius: 16px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.enterprise-table li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.enterprise-table li:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0);
}

.enterprise-table li:nth-child(2n + 1) {
  background-color: rgba(60, 73, 91, 0.14);
}
